project_id = "qorkfgvhzpllhpumznjd"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600

[functions.send-email]
verify_jwt = false

[functions.send-daily-reminders]
verify_jwt = false

[functions.send-maintenance-alerts]
verify_jwt = false